import type { NextPage } from "next";
import Head from "next/head";

const {{pascalCase name}}: NextPage = () => {
  return (
    <>
      <Head>
        <title></title>
      </Head>

      <div></div>
    </>
  );
};

export default {{pascalCase name}};
