@import "font";

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply text-gray-900 bg-teal-200 dark:bg-teal-300;
}

body {
  @apply bg-white dark:bg-gray-900;
}

@layer utilities {
  .text-body {
    font-size: 15px;
    line-height: 1.75rem /* 28px */;
  }

  .text-4\.5xl {
    font-size: 2.375rem /* 42px */;
    line-height: 1.4;
  }

  .min-h-without-navbar {
    min-height: calc(100vh - 88px);
  }
}

.mdx p {
  @apply mb-4 text-sm font-light leading-7 sm:text-body;
}

.mdx .katex-display {
  @apply my-8 sm:my-10;
}

.mdx strong {
  @apply font-medium;
}

.mdx h1 {
  @apply mt-12 mb-4 text-xl font-bold sm:text-2xl sm:mb-5;
}

.mdx h2 {
  @apply mt-8 mb-2 text-lg font-bold sm:text-xl;
  line-height: 2rem;
}

.mdx h3 {
  @apply mt-6 mb-1 text-base font-bold sm:text-lg;
}

.mdx a {
  @apply font-normal text-blue-500 underline decoration-blue-500;
}

.mdx ul {
  @apply my-6 ml-4.5 list-none text-sm sm:text-body;
  list-style-type: square;
}

.mdx ol {
  @apply my-6 ml-4.5 list-none text-sm sm:text-body;
  list-style-type: decimal;
}

.mdx li {
  @apply my-1.5 font-light;
}

.mdx blockquote {
  @apply relative flex items-center pl-3 mb-4 font-normal text-gray-500 dark:text-gray-400;
}

.mdx blockquote p {
  @apply text-sm leading-relaxed;
}

.mdx blockquote::before {
  @apply absolute w-0.5 mb-4 bg-blue-200 left-0.5 top-0.5;
  height: calc(100% - 22px);
  content: "";
}

.mdx code {
  @apply font-normal text-gray-800 font-code dark:text-gray-200;
}

.mdx pre {
  @apply px-3 pt-0.5 pb-1.5 my-4 overflow-scroll border border-gray-200 rounded-lg dark:border-gray-800;
}

.mdx pre code {
  @apply text-xs;
}
